<?xml version="1.0" encoding="UTF-8"?>
<suites>
    <suite name = "sdk">
        <tests>
            <groups>
                <run>
                    <exclude name="exclude"  />
                    <!--<include name="SbankTest"  />-->
                </run>
            </groups>
            <test name="transferEOA">
                <classes>
                    <class name="com.tests.transferEoa.TransferSuccessful" />
                </classes>
                <classes>
                    <class name="com.tests.transferEoa.SendTransactionTest" />
                </classes>
                <classes>
                    <class name="com.tests.transferEoa.FailedToSendTransaction" />
                </classes>
                <classes>
                    <class name="com.tests.transferEoa.CreateAccountFail" />
                </classes>
            </test>
        </tests>
    </suite>


    <listeners>
        <!--<listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>-->
    </listeners>
</suites>






